<h1><%= @question.question_title %></h1>

<p><%= link_to "Edit question", edit_survey_question_path(@survey, @question) %></p>
<p><%= link_to "Delete", survey_question_path(@survey, @question),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>

  <p><%= link_to "Return to survey", survey_path(@survey) %></p>
